$white: #f9f9f9;
$white-three: #ecebe9;
$tea: #68b680;
$lightish-red: #ff3750;
$black-two: #313131;
$macaroni-and-cheese: #f3a536;
$light-forest-green: #46915d;
$faded-red: #ce2c40;
$macaroni-and-cheese: #f3a536;
$dodger-blue: #36aef3;
$tomato: #f33636;
$pastel-orange: #ff915b;
$light-gold: #ffdf5b;
$kiwi-green: #8fe360;
$weird-green: #57e690;
$pale-orange: #ffbe5b;
$white-two: #fff;
$brownish-grey: #5e5e5e;
$pinkish-grey: #d1d1d1;
$greyish: #b2b2b2;
$tiffany-blue: #57dbe6;
$toupe: #cfb995;
$warm-grey: #9c9c9c;
$grapefruit: #ff5b5b;
$black: #303030;
